body {
  margin: 0;
  padding: 0;
  border: 0;
}


/* CSS Cabecalho */

.cabecalho {
  padding-top: 0px;
  background-color: #181717;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid rgb(238, 74, 45);
}

.caixa_cabecalho {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

ul li {
  color: white;
  display: inline;
  margin-left: 5px;
  font-size: small;
}

.caixa_cabecalho span {
  display: inline;
  margin-left: 5px;
  font-size: larger;
}

.detalhe_home_projeto {
  color: rgb(238, 74, 45);
}

.color_logo {
  color: white;
}


/* CSS Image */

.corpo_img {
  width: 100%;
  height: 400px;
  background-image: url(team.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa_img {
  text-align: center;
  justify-content: center;
  width: 80%;
}

.titulo {
  font-size: 40px;
  color: rgb(238, 74, 45);
}


/* CSS Atualizacoes */

.corpo_atualizacoes {
  padding-top: 0px;
  background-color: #181717;
  width: 100%;
  height: 60px;
}

.caixa_atualizacoes {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -4px;
}

.text_atualizacoes {
  font-size: 20px;
  color: white;
}

.input_email {
  float: right;
}

.caixa_atualizacoes button {
  background-color: rgb(238, 74, 45);
}

.caixa_atualizacoes input {
  width: 175px;
}


/* CSS Missao, Valores e Visao */

.missao_valores_visao {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  text-align: center;
}  

.img_mis_val_vis {
  height: 150px;
}


/* CSS Rodape */

.corpo_rodape {
  background-color: rgb(238, 74, 45);
  width: 100%;
  height: 60px;
}

.caixa_rodape {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}